body {
    background: rgb(204,204,204); 
  }
div.selector {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }

header{
    border-bottom: 4px solid rebeccapurple;
}
header>h1{
  padding:20px;
  padding-bottom: 0px;
}

div.menu{
  background: white;
  width: 18cm;
  height: 3cm;
  display: block;
  margin: 20px auto;
  margin-bottom: 0.5cm;
  padding:10px;
  border: 2px solid rebeccapurple;
}
div.botones{
  width:8cm;
  border:2px rebeccapurple solid;
  padding-left:0.5cm;
}
div.flota{
  float:right;
  display:table;
  width:8cm;
  border:2px rebeccapurple solid;
  padding-left:0.5cm;
}
div.flota>div{
  display:inline-block;
  width:40%;
  margin: 16px 1px 17px 1px; 
}
div.flota>div:nth-child(even){
  text-align: right;
}
div.botones>button{
  width:3cm;
  margin:3px 2.2cm 3px 2.2cm;
}

button.pulsado{
  background: plum;
}
img{
  width:100%;
  height: auto;
  border: 1px black solid;
  margin: auto;
}
div.container{
  background: white;
  width: 18cm;
  height: 12cm;
  display: block;
  margin: 20px auto;
  margin-bottom: 0.5cm;
  padding: 10px;
  border: 2px solid rebeccapurple;
}

div.container>div{
  background: white;
  width: 7cm;
  height: 10cm;
  display: block;
  margin: 20px;
  margin-bottom: 0.5cm;
  padding: 10px;
  border: 2px solid rebeccapurple;
}
div#derecha{
  float:right;
}