@font-face {
  font-family: 'itc_stone_serifsemibold';
  src: url('FONTS/stone_serif_semibold-webfont.woff2') format('woff2'),
       url('FONTS/stone_serif_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'itc_stone_serifbold';
  src: url('FONTS/yu-gi-oh_itc_stone_serif_small_caps_bold-webfont.woff2') format('woff2'),
       url('FONTS/yu-gi-oh_itc_stone_serif_small_caps_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'matrixbookmedium';
  src: url('FONTS/yu-gi-oh_matrix_book-webfont.woff2') format('woff2'),
       url('FONTS/yu-gi-oh_matrix_book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'matrixregularsmallcapsregular';
  src: url('FONTS/yu-gi-oh_matrix_regular_small_caps_2-webfont.woff2') format('woff2'),
       url('FONTS/yu-gi-oh_matrix_regular_small_caps_2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body {
  background:  rgba(224, 194, 199, 0.63); 
  font-family: Arial, Helvetica, sans-serif;
}
header{
  border-bottom: 4px solid rebeccapurple;
}
header>h1{
  padding:20px;
  padding-bottom: 0px;
  color: rebeccapurple;
}
div.container{
  background:  rgba(255, 216, 223, 0.644);
  width: 24cm;
  height: 16cm;
  display: block;
  margin: 20px auto;
  margin-bottom: 0.5cm;
  padding: 10px;
  border: 2px solid rebeccapurple;
}

div.container>div{
  background:  rgba(255, 216, 223, 0.644);
  width: 9cm;
  height: 14cm;
  display: block;
  margin: 20px;
  margin-bottom: 0.5cm;
  padding: 10px;
  border: 2px solid rebeccapurple;
  }
div#derecha{
  float:right;
}
div#izquierda{
  border:none;
  }

.card {
	display: grid;
    border: 15px solid #363944;
    border-radius: 20px;
    width: 300px;
    height: 480px;
    background: #BF8737;
    background-:#7b64b2;
    background:#d7dbe4;
    background:#4278a7;
    background: #25282f;
    background: #0077bb;
    background:#bf9b4d;
    background-: #248e8c;
    background-: #a54584;
	cursor: default;
}

.card_grid{
		display: grid;
		grid-template-columns: 1fr repeat(23, 12px) 1fr;
		grid-template-rows: 3px 30px 3px 30px 3px repeat(8,30px) 15px repeat(5,26px);
		padding: 9px;
}
.name{
    font-family: 'matrixregularsmallcapsregular';
    padding-left: 3px;
    padding-right: 2px;
    padding-bottom:9px;
    font-size: 33px;
    font-weight: 500;
    grid-area: title;
    grid-column: span 25;
	grid-row: span 3;
    border-top: 3px solid rgba(255,255,255,.7);
    border-left: 3px solid rgba(255,255,255,.7);
    border-right: 3px solid rgba(0,0,0,.5);
    border-bottom: 3px solid rgba(0,0,0,.5);
}
#symbol {
  
  font-size: 10px;
  float: right;
}
#symbol img {
  width: 27px;
  margin-top: 1px;
}
.lrt{
  font-family: 'itc_stone_serifbold';
	grid-column: 3 / span 21;
  grid-row: 4;
  text-align: right;
}
.stars {
  font-size: 10px;
}
.stars img {
  width: 20px;
  margin-top: 5px;
  margin-left:2px;
}
.pic{
    grid-column: 4 / span 19;
	grid-row: 6/span 8;
    border: 8px solid #545F7C;
    box-shadow: 4px 4px 4px rgba(0,0,0,.5);
    background-image: url("http://i63.tinypic.com/2ibnsz4.jpg");
    background-position: center;
	background-size: cover;
  }
  .description {
    grid-column: 2 / span 23;
  grid-row: 15/span 5;
  display: flex;
  flex-direction: column;
    background: rgba(253, 253, 251, 0.596);
    padding: 6px;
    border: 4px solid #B34930;
    font-size: 12px;
  }
  .description h2 {
    font-family: 'itc_stone_serifbold';
    font-size: 14px;
    font-variant: small-caps;
    margin: 0;
    font-style: normal;  
  }
 .description p {
    font-family: 'matrixbookmedium';
    font-size: 14px;
    margin: 0;
  }
  
  #stats {
    margin-top: auto;
    border-top: 2px solid #000;
    text-align: right;
  }
  .baraja{
    float:right;
    margin-right: 100px;
  }
