body{
    margin:0;
    background-color: darkkhaki;
}
.menu{
    display:block;
    margin:30px;
    width:100%;
    height:150px;
}
.menu>div{
    display:table;

    width: 100%;
    height: 40%;
    margin-bottom:20px;
}

.menu>div>div{
    display:table-cell;
    width:33%;
    text-align: center;
    vertical-align: middle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(38, 54, 192);
}
.menu>div>div>div{
    display:inline-block;
    width: 30px;
    height: 30px;
    margin-left:2px;
    margin-right: 2px;
    border-radius: 42%;
    overflow: hidden;
}
input{
    width: 30px;
    border-radius: 30%;
    background-color: tomato;
    padding-left:5px;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    background-color: tomato;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 30%;
    color:blue;
}
#blanco{
    background-color: white;
}
#negro{
    background-color: black;
}
#naranja{
    background-color: rgb(233, 196, 142);
}
#purpura{
    background-color: rebeccapurple;
}

.contenedor{
    background-color: rgb(233, 196, 142);
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    display:table;
    table-layout: fixed;
    border-spacing: 5px;
}

.ficha{
    color:black;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(233, 196, 142);
    display: table-cell;
    border-radius: 50%;
}