html {
    height: 100%;
  }
body{
    margin: 0;
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
    min-width: 100%;
    min-height: -moz-available; 
    min-height: -webkit-fill-available;
    min-height: fill-available;
    overflow: hidden;
}
.main{
    min-width: 100%;
    min-height: -moz-available; 
    min-height: -webkit-fill-available;
    min-height: fill-available;
    background-image: url(imagenes/brandon-mowinkel-693342-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu{
    position:fixed;
    width:300px;
    min-height:100%;
    background-color: slategrey;
    top:0px;
    right:-300px;
}
.accion{
    display:table;
    width:90%;
    position: fixed;
    top: 45px;
    left: 50px;
}
.logo{
    width: 20%;
    display: table-cell;
    color: aliceblue;
    font-size: 32px;
    font-weight: bold;

}
.logo> :first-child{
    border-bottom: 3px solid aliceblue;
    padding-bottom: 8px;
    margin-bottom: 0;
}
.logo> :last-child{
    margin-top: 8px;
}
.container-button{
    min-height: -moz-available; 
    min-height: -webkit-fill-available;
    min-height: fill-available;
    display:table-cell;
}
.boton{
    margin:32px;
    color: aliceblue;
    width: 20%;
    display:table;
    font-size: 32px;
}
.boton> p{
    display:table-cell;
    vertical-align: baseline;
}
.boton> i{
    display:table-cell;
    vertical-align: baseline;
}