body{
    background-color: rgb(231, 230, 230);
    margin:0;
}
.titulo{
    background: rgb(228,191,242);
    background: linear-gradient(322deg, rgba(228,191,242,1) 0%, rgba(218,86,200,1) 14%, rgba(242,102,222,1) 29%, rgba(235,133,220,1) 42%, rgba(237,80,212,1) 58%, rgba(250,134,231,1) 82%, rgba(255,76,153,1) 100%);
    height: 85px;
    border-bottom: 2px blue solid;
    padding-top:2px;
    text-align: center;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}
.menu{
    display:flex;
    width: 100%;
    height: 130px;
    margin-bottom:20px;
    background: rgb(228,191,242);
    background: linear-gradient(346deg, rgba(228,191,242,1) 0%, rgba(218,86,200,1) 14%, rgba(242,102,222,1) 29%, rgba(235,133,220,1) 42%, rgba(237,80,212,1) 58%, rgba(250,134,231,1) 82%, rgba(255,76,153,1) 100%);
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    align-items: center;
    justify-content: center;
}
.menu>div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 250px;
    height:30%;
    padding-left: 3px;
}

.colores>div{
    display:inline-block;
    width: 35px;
    height: 35px;
    border:1px solid black;
    overflow: hidden;
    border-radius: 42%;
}
#verde{
    background-color: green;
}
#rojo{
    background-color: red;
}
#azul{
    background-color: blue;
}
#amarillo{
    background-color: yellow;
}

input{
    width: 30px;
    padding-left:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    background-color: rgb(228,191,242);
    color:white;
}
button{
    margin-left: 7px;
    background-color: rgb(159, 171, 238);
    border-radius: 30%;
    color:whitesmoke;
    font-size: 1.2em;
}

.contenedor{

    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    display:table;
    table-layout: fixed;
    border-spacing: 5px;
}
.ficha{
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border-radius: 50%;
    transition: background-color 250ms linear;
}