.caja{
    width:230px;
    max-width:230px;
    border:3px black dotted;
    padding:8px;
    text-align: center;
    
}

.caja>div{
    width: 60px;
    padding:4px;
    display: inline-block;
    border: 1px red ridge;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 2px;
}